.container {
  margin: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.product-one {
  padding: 50px 0;
  display: flex;
  width: 100%;
}

.product-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info {
  width: 50%;
  padding: 30px 40px 0 0;
}

.product-info h2 {
  font-size: 40px;
}

.product-info h3 {
  font-size: 60px;
}

.product-info button {
  width: 50%;
  height: 50px;
  font-size: 20px;
  color: #fff;
  background-color: #274c77;
  border-radius: 5px;
  border: none;
}

.product-desc {
  border-top: 1px solid #ececed;
  padding: 20px 50px;
}
